html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    flex-direction: column;
    background-color: #f0f0f0;
    overflow-y: auto; /* Enable vertical scrolling */
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the title */
}

.container {
    text-align: center;
    font-family: Helvetica, sans-serif;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */

}
.genre {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the genre title */
    
}
.spotify-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    color: white;
    background-color: #1DB954;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Space below the Spotify button */
}
.spotify-button:hover {
    background-color: #1ed760;
}
.spotify-link-text {
    font-size: 0.9rem;
    color: #1DB954;
    text-decoration: none;
    word-wrap: break-word;
}
#spotify-link-text {
    display: none;
}
.description-container {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
    max-width: 95%; /* Ensure it has some space from the edges */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.description-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.description-text {
    font-size: 1rem;
    line-height: 1.5;
}
.fetch-container {
    margin-top: 20px;
}
#searchTerm {
    padding: 10px;
    font-size: 1rem;
    width: calc(100% - 22px); /* Full width minus padding */
    margin-bottom: 10px;
}
.fetch-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px; /* Space below the fetch button */
}
.fetch-button:hover {
    background-color: #0056b3;
}
#wiki-description {
    font-size: 1rem;
    color: #333;
    text-align: left;
}
.location-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    color: black;
    background-color: #b3b3b3;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;
}

.location-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

