html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    flex-direction: column;
    background-color: #f0f0f0;
    overflow-y: auto; /* Enable vertical scrolling */
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the title */
}

.container {
    text-align: center;
    font-family: Helvetica, sans-serif;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */

}
.location {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the location title */
    
}
.spotify-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    color: white;
    background-color: #1DB954;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Space below the Spotify button */
}
.spotify-button:hover {
    background-color: #1ed760;
}
.spotify-link-text {
    font-size: 0.9rem;
    color: #1DB954;
    text-decoration: none;
    word-wrap: break-word;
}
#spotify-link-text {
    display: none;
}



