html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Use this for full viewport height */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    flex-direction: column;
    background-color: #f0f0f0;
    overflow-y: auto; /* Enable vertical scrolling */
    font-family: 'Helvetica', sans-serif; /* Set font family for the whole body */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the title */
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.location {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the location title */
}

.spotify-button, .genre-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px; /* Space below the button */
}

.spotify-button {
    color: white;
    background-color: #1DB954;
}
.spotify-button:hover {
    background-color: #1ed760;
}

.spotify-link-text {
    font-size: 0.9rem;
    color: #1DB954;
    text-decoration: none;
    word-wrap: break-word;
}

#spotify-link-text {
    display: none;
}

.genre-button {
    color: black;
    background-color: #b3b3b3;
}

.genre-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
